* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--rich-black-fogra-39: #0b090aff;
	--eerie-black: #161a1dff;
	--blood-red: #660708ff;
	--ruby-red: #a4161aff;
	--carnelian: #ba181bff;
	--imperial-red: #e5383bff;
	--silver-chalice: #b1a7a6ff;
	--light-gray: #d3d3d3ff;
	--cultured: #f5f3f4ff;
	--white: #ffffffff;
}


html, body{
  background-color: var(--eerie-black);
	height: 100%;
	width: 100%;
	display: flex;
	font-size: 100%;
	justify-content: center;
	color: var(--cultured);
  font-family: Roboto;
}
h1{
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
}
#container{
  display: flex;
  width: 60vw;
  max-width: 1920px;
  flex-direction: column;
}

#quote-box{
 margin: 1.5rem 0;
 font-size: 1.2rem;
 color: var(--cultured);
}

#quotee{
	margin: 3rem 0;
	text-align: right;
}

#buttons{
  display: flex;
  flex-direction: column;
}
#buttons div{
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}
#buttons button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

	transition: all 0.4s ease-in-out;
	font-size: 1.3rem;
	border: solid var(--cultured) 5px;
	margin: 1rem;
	padding: 0.5rem 3rem;
	flex: 1;
	border-radius: 3px;
	text-align: center;
	max-width: 250px;
}

#buttons button:hover {
	color: var(--eerie-black);
	background-color: var(--cultured);
}